<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521542764207-0va6b0k10rjuaipv2t3kql1t4u6nk5jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521542764207-0va6b0k10rjuaipv2t3kql1t4u6nk5jr</string>
	<key>API_KEY</key>
	<string>AIzaSyBiLYPs3tmeu2qquDHzXk5KtXaiYjYB83c</string>
	<key>GCM_SENDER_ID</key>
	<string>521542764207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.otabek.develapp.develApp</string>
	<key>PROJECT_ID</key>
	<string>develapp-f407e</string>
	<key>STORAGE_BUCKET</key>
	<string>develapp-f407e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521542764207:ios:437f9ca5670f65a5e9365a</string>
</dict>
</plist>